@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");

:root {
    --cor-de-fundo: rgb(94, 94, 231);
    --branco: #FFFFFF;
    --laranja: orange;
    --preto: black;
    --azule: rgb(6,6,77);
    --fonte-principal: "poppins";
}
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}